html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s;
    /* -webkit-transition: all .4s linear;
    transition: all .4s linear; */
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: serif;
    margin: 0;
    font-family: 'Gilroy', arial;
    color: #0f0f10;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
}

/* .content {
    flex: 1 0 auto;
} */

/*@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy-BlackItalic.ttf') format('truetype'),
        url('../fonts/Gilroy-BlackItalic.svg#Gilroy-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}*/

.content {
    position: relative;
}

.footer-wrap {
    flex: 0 0 auto;
}

.container {
    width: 100%;
    max-width: calc(1276px + (15px * 2));
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-hero {
    position: relative;
    min-height: 600px;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    background: url(../img/bg2.svg) center bottom repeat-y;
    background-size: 1150px;
}

.section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url('../img/bg2.svg') center top repeat-y;*/
    background: url(../img/bgbg.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-image: linear-gradient(to right, #000000 7%, rgba(0, 0, 0, 0.67) 81%, #000000 128%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-bg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    background-size: cover;
}

.hero-bg-css {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* display: block; */
    z-index: -1;
    background: url('../img/hero-bg@x2.jpg') center no-repeat;
    background-size: cover;
}

.hero__logo {
    max-width: 124px;
    margin-bottom: 40px;
}

.hero__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - (138px / 2)));
    /* padding-left: 144px; */
    max-width: 1020px;
    width: 100%;
}

.hero__text {
    max-width: 700px;
    width: 100%;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: normal;
}

.btn {
    display: block;
    max-width: 304px;
    width: 100%;
    border-radius: 5px;

    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
    width: 200px;
    color: #30d0a4;
    border: solid 1px #30d0a4;
    font-size: 16px;
    line-height: 19px;
    transition: all .3s ease;
}

.btn-action {
    min-width: 200px;
    width: 100%;
    max-width: 314px;
    padding-top: 19px;
    padding-bottom: 20px;
    color: #fff;
    background: linear-gradient(94deg, #30d0a4 -26%, rgba(48, 208, 164, 0.81) 61%, rgba(48, 208, 164, 0.56) 216%);
    text-align: left;
    position: relative;
    padding-left: 35px;
    padding-right: 60px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    transition: all .3s ease;
}

.btn-action.disabled {
    pointer-events: none;
    background: #bababa;
    color: transparent;
}

.btn-action.disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 31px;
    margin: auto;
    background: url('../img/refresh.svg') center no-repeat;
    background-size: contain;
    transition: all .3s ease;
    animation: 1s rotate infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    } 

    to {
        transform: rotate(360deg);
    }
}

.btn-action.disabled::after {
    opacity: 0;
}

.btn-action::after {
    content: '';
    background: url('../img/ar.png') center no-repeat;
    background-size: contain;
    top: 0;
    right: 30px;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: all .3s ease;
}

.btn-action:hover::after {
    transform: translate(10px, 0);
}

.wrapper .active {
    color: red;
}

.section-arcticles {
    position: relative;
    /* top: -134px; */
    transform: translate(0, -138px);
    margin-bottom: 50px;

}


.grid-row {
    display: flex;
    flex-wrap: wrap;
    transition: all .3s ease;
}

.grid-row.filter-container {
    justify-content: space-between;
}

.m0 {
    margin-right: 0 !important;
}

.grid__item {
    width: 100%;
    padding-top: 35px;
    padding-left: 35px;
    display: inline-block;
    padding-right: 64px;
    max-width: 268px;
    border-radius: 5px;
    padding-bottom: 20px;
    background: #fff;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
    min-height: 276px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.no-select {
    pointer-events: none;
}

.grid__item .btn {
    position: absolute;
    bottom: 25px;
}

.acco {
    position: relative;
}

.acco .grid__item {
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    height: 276px;

}

.acco .grid__item:hover {
    box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.15);
}

.acco .acco__item-body.grid__item {
    margin-top: 20px;
    color: rgb(15, 15, 16);
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    max-width: 100%;
    margin-right: 0;
    left: 0;
    display: block;
    transition: all .3s ease;
    opacity: 0;
    padding-right: 20px;
}

.scroll {
    height: 230px;
}

.scroll.scroll-wrapper p:last-child {
    padding-bottom: 50px;
}

/*.scroll.scroll-wrapper::before {
    content: 'Читать дальше';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 110px;
    height: 22px;
    background: url(../img/scroll-icon.svg) left no-repeat;
    background-size: 9px 22px;
    z-index: 1;
    font-size: 12px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}*/

.scroll.scroll-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, #fff 60%, rgba(255, 255, 255, 0) 100%);
}

.scroll.scroll-scrolly_visible {
    padding-right: 20px;
}

.acco .acco__item-body.grid__item::after {
    display: none;
}

.acco .acco__item-body.grid__item.active {
    visibility: visible;
    opacity: 1;
    max-width: none;
    /* position: relative; */
}

.portf__inner .acco__item {
    width: 100%;
    max-width: 268px;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
}

.portf__inner .acco__item:visible {
    margin-right: 20px;
}

.portf__inner .acco__item .acco__item-body::after {
    display: none;
}

.portf__inner .acco__item--700 {
    max-width: 700px;
}

.portf__inner .acco__item--988 {
    max-width: 988px;
}

.grid__item-fake {
    max-width: 268px;
    width: 100%;
    order: 2;
}

.grid__item-fake--700 {
    max-width: 700px;
    width: 100%;
}

.grid__item-fake--988 {
    max-width: 988px;
    width: 100%;
}

.grid__item h2 {
    font-size: 18px;
    left: 21px;
    margin-bottom: 25px;
    font-weight: normal;
}

.grid__item .arcticle__face h2 {
    max-width: 170px;
}

.grid__item p {
    font-size: 14px;
    padding-left: 21px;
    margin-bottom: 20px;
}

.grid__item p:last-child {
    margin-bottom: 0;
}

.grid__item--700 {
    max-width: 700px;
}

.grid__item--988 {
    max-width: 988px;
}

.grid__item--w100 {
    max-width: 100%;
}



.title-dec {
    position: relative;
    font-size: 46px;
    line-height: 56px;
    display: inline-block;
    margin-bottom: 50px;
}

.title-dec::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: -16px;
    left: -16px;
    background: url('../img/dec.svg') center no-repeat;
}

.title-dec::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    bottom: -16px;
    right: -16px;
    background: url('../img/dec.svg') center no-repeat;
    transform: rotate(180deg);
}

.section-nums {
    margin-bottom: 170px;
    position: relative;
}


.hero__logo--mob {
    display: none;
}



.nums__inner {
    padding: 30px 60px;
    margin-bottom: 14px;
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 rgba(85, 85, 85, 0.05);
    background-image: linear-gradient(93deg, #30d0a4 0%, rgba(48, 208, 164, 0.64) 132%);
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.nums__inner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bg3.svg') center no-repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.nums__inner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/greend.svg') center no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.num {
    width: 33%;
    max-width: 380px;
    border-right: solid 2px rgba(255, 255, 255, .8);
    min-height: 115px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.num p {
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
}

.num span {
    font-size: 40px;
    font-weight: 600;
}

.num:last-child {
    border: none;
}

.num__inner {
    min-width: 184px;
    width: 100%;
    max-width: 380px;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.section-portf {
    margin-bottom: 155px;
}

.portf__header {
    display: flex;
    justify-content: space-between;
}

.portf__inner .grid__item {
    color: #fff;
    background: center no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}


.portf__inner .grid__item:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.portf__inner .grid__item.acco__item-head {
    z-index: 1;
}

.portf__inner .grid__item.acco__item-head h2 {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    font-weight: bold;

}

.portf__inner .grid__item .btn-small {
    z-index: 1;
    position: absolute;
}

/*.portf__inner .grid-row {
    margin-bottom: 20px;
}*/


.btn-small {
    right: 25px;
    bottom: 25px;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    position: relative;
}

.btn-small::after {
    content: '';
    background: url('../img/ar.png') center no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: rotate(90deg);
    transition: all .3s ease;
}


/* .grid__item.active .btn-small,

.btn-small.active:hover,
.grid__item:hover .btn-small {
    background: #30d0a4;
    border: none;
} */

/* #30d0a4 */
.grid__item.active .btn-small::after {
    transform: rotate(270deg);
}

.feedback__title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 50px;
    color: #fff;

}

.footer-wrap {
    padding-top: 100px;
    position: relative;
}

.footer-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bg1.svg') center no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-wrap::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.65;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.67) 34%, #6d6d6d);
    z-index: -2;
}

.form-row {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}


.input-wrap {
    width: 100%;
    max-width: 418px;
    margin-right: 24px;

}

.input-wrap:last-child {
    margin-right: 0;
}

.input-wrap input::placeholder,
.input-wrap textarea::placeholder {
    color: #0f0f10;
    opacity: .5;
}

.input-wrap input,
.input-wrap textarea {
    width: 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-left: 35px;
    padding-bottom: 14px;
    padding-right: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
}

textarea {
    min-height: 120px;
    resize: none;
}

.input-wrap--w100 {
    max-width: 100%;
}

.input-wrap--ch {
    max-width: 970px;
}

.btn-form {
    max-width: 268px;
}

.feedback__form .btn {
    margin-right: 38px;
}

.checkbox {
    max-width: 100%;
    margin: auto;
    text-align: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: #fff;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #ffffff;
    z-index: 0;
    cursor: pointer;
}


input.error+.checkmark {

    border-color: #ff6565;
}

input.error {
    /* color: transparent; */
}

input.error::placeholder {
    /* color: #fff; */
}


.input-wrap {
    position: relative;
}

span.error {
    border: solid 1px #ff6565;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    padding-left: 38px;
    line-height: 52px;
    color: #ff6565;
    cursor: pointer;
    user-select: none;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
}

span.error::after {
    content: '';
    width: 26px;
    height: 24px;
    background: url('../img/sign.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}

.checkbox span.error {
    border: none;
    background: none;
}

.input-wrap--ch .error {
    font-size: 0;
}

.input-wrap--ch .error::after {
    font-size: 0;
    display: none;
}

.checkbox input {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    opacity: 0;
}

.checkbox input:checked+span::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background: #fff;
    content: '';
}

.checkbox-text {
    cursor: pointer;
    margin-left: 16px;
    display: inline-block;
}

.checkbox-text a {}

.section-feedback {
    margin-bottom: 80px;
}

.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(37, 37, 37, .5);
    ;
}

.footer___inner {
    display: flex;
    color: #b8b8b8;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__logo {
    max-width: 60px;
    width: 100%;
    margin-left: 120px;
}

.footer__contacts {
    margin-left: 120px;
}

.footer__contacts>div {
    margin-bottom: 10px;
    padding-left: 32px;
}

.footer__contacts>div>a {
    padding-left: 26px;
    position: relative;
}


.footer__contacts>div>a::after {
    position: absolute;
    width: 12px;
    height: 28px;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    background-size: contain;
}

.ph a::after {
    background: url('../img/ph.svg') center no-repeat;
}

.mail a::after {
    background: url('../img/msg.svg') center no-repeat;
}

.footer__contacts>div:last-child {
    margin-bottom: 0;
}

.socials__ul {
    list-style: none;
}

.socials__link {
    display: block;
    width: 28px;
    height: 28px;
    background: center no-repeat;
    background-size: contain;
    transition: all .3s ease;
}

.socials--footer .socials__link {
    opacity: .7;
}

.socials__link--tw {
    background-image: url('../img/socs/tw.svg');
}

.socials__link--vk {
    background-image: url('../img/socs/vk.svg');
}

.socials__link--in {
    background-image: url('../img/socs/in.svg');
}

.socials__link--fb {
    background-image: url('../img/socs/fb.svg');
}

.socials__link--ok {
    background-image: url('../img/socs/ok.svg');
}

.socials__link--tw:hover {
    background-image: url('../img/socs/tw2.svg');
}

.socials__link--vk:hover {
    background-image: url('../img/socs/vk2.svg');
}

.socials__link--in:hover {
    background-image: url('../img/socs/in2.svg');
}

.socials__link--fb:hover {
    background-image: url('../img/socs/fb2.svg');
}

.socials__link--ok:hover {
    background-image: url('../img/socs/ok2.svg');
}

.nav {
    position: fixed;
    top: 50%;
    transform: translate(0, calc(-50% - (138px / 2)));
    text-align: right;
    max-width: 236px;
    width: 100%;
    z-index: 2;
}

.nav__list li {
    margin-bottom: 60px;
}

.nav__list li:last-child {
    margin-bottom: 0;
}

.nav__link {
    display: block;
    padding-bottom: 3px;
    position: relative;
}

.nav__link.active {
    color: #30d0a4;
}

.nav__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all .5s ease;
}

.nav__link.active::after {
    background: #30d0a4;
    width: 100%;
}

.socials--footer .socials__ul {
    display: flex;
}

.socials--footer .socials__ul .socials__li {
    display: block;
    margin-right: 30px;
}

.socials--footer .socials__ul .socials__li:last-child {
    margin-right: 0;
}

.socials--header {
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50% - (138px / 2)));
    right: 148px;
}

.socials--header .socials__ul .socials__li {
    display: block;
    margin-bottom: 30px;
}

.socials--header .socials__ul .socials__li:last-child {
    margin-bottom: 0;
}

.portf__filters {
    margin-top: 20px;
}

.filters__item {
    font-weight: normal;
    margin-right: 40px;
    opacity: .7;
    transition: all .3s ease;
    color: #0f0f10;
    position: relative;
}

.filters__item.active {
    color: #30d0a4;
    opacity: 1;
}

.filters__item.active::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
    width: 12px;
    height: 12px;
    background: url('../img/dec.svg');
    transform: rotate(-135deg);
}


.filters__item:hover {
    opacity: 1;
}

.filters__item:last-child {
    margin-right: 0;
}



.js-dark-text {
    color: #0f0f10;
}

.arcticles .acco__item {
    margin-right: 20px;
}

.arcticles .grid__item {
    margin-right: 0px;
    transition: none;
    transition: all .3s ease;
}


.arcticles .acco .grid__item.active {
    max-width: 700px;
    transition: all .5s ease;
    pointer-events: none;
    /* margin-right: 20px; */
}

.arcticles .acco .grid__item{
    transition: all .5s ease;
}

.arcticles .acco .acco__item.active {
    max-width: 700px;
    /* margin-right: 20px; */
}

.acco__item-head.active .arcticle__face {
    display: none;
}

.acco__item-head .article__back {
    opacity: 0;
    /* transition: all .5s ease; */
}

.acco__item .article__back{
    /* display: none; */
}

.acco__item-head.active .article__back {
    display: block;
    opacity: 1;
}

.acco__item-head.active .article__back p {
    display: block;
    opacity: 0;
}

.acco__item-head.active.text .article__back p {
    opacity: 1;
}

/* .arcticles .acco__item.active.text,
.acco__item-head.active.text .article__back {
    opacity: 1;
} */

/* .arcticles .acco .grid__item{
    color: transparent;

} */

/* .arcticles .acco .grid__item.active{
    
    color: #0F0F0F;
} */



.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
}

.modal-overlay--active {
    opacity: 1;
    z-index: 100;
    background: rgba(19, 17, 17, 0.97);
}

.modal_thx {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    color: #0f0f10;
    background: #fff;
    transform: translate(-50%, -50%);
    font-size: 18px;
    max-width: 556px;
    width: 100%;
    border-radius: 5px;
}

.modal_thx .modal__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.modal_thx .modal__title {
    margin-bottom: 30px;
}

.btn-modal {
    border-radius: 5px;
    background-color: #30d0a4;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 250px;
    padding: 15px;
}

.btn-modal:focus,
.btn-modal:hover {
    color: #fff;
}

.share {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    text-align: right;
    max-width: 236px;
    width: 100%;
    z-index: 2;
    right: 0;
}

.acco .grid__item.active .btn {
    color: #fff;
    border: solid 1px #30d0a4;
    background: #30d0a4;
}

.js-black-soc .socials__link--tw {
        background-image: url(../img/socs/tw3.svg);
}

.js-black-soc .socials__link--vk {
    background-image: url(../img/socs/vk3.svg);
}

.js-black-soc .socials__link--in {
    background-image: url(../img/socs/in3.svg);
}

.js-black-soc .socials__link--fb {
    background-image: url(../img/socs/fb3.svg);
}

.js-black-soc .socials__link--ok {
    background-image: url(../img/socs/ok3.svg);
}

.js-black-soc .socials__link--tw:hover {
    background-image: url(../img/socs/tw2.svg);
}

.js-black-soc .socials__link--vk:hover {
    background-image: url(../img/socs/vk2.svg);
}

.js-black-soc .socials__link--in:hover {
    background-image: url(../img/socs/in2.svg);
}

.js-black-soc .socials__link--fb:hover {
    background-image: url(../img/socs/fb2.svg);
}

.js-black-soc .socials__link--ok:hover {
    background-image: url(../img/socs/ok2.svg);
}

.arcticles .grid-row{
    flex-wrap: nowrap;
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 1px;
    height: 8px;
    left: 0;
    width: 100%;
}

.collection-list.scroll-wrapper>.scroll-content {
    padding-bottom: 10px;
}

body .collection-list .scroll-element.scroll-y {
    display: none;
}

body .scroll-element.scroll-x .scroll-element_track {
    top: 0;
    width: 100%;
    height: 8px;
}

body .scroll-element.scroll-y {
    height: 85%;
    right: 0;
    top: 0;
    width: 4px;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    border-radius: 8px;
}

body .scroll-element .scroll-element_track {
    background: rgba(0, 0, 0, .1);
    left: 0;
    width: 4px;
}

body .scroll-element .scroll-bar {
    height: auto;
    width: 4px;
    background: rgba(0, 0, 0, .2);
    box-shadow: none;
    left: 0;
    position: relative;
}

body .scroll-element:hover .scroll-bar {
    
}

body .scroll-element.scroll-draggable .scroll-bar {
    
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

/**/

.project-img-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-img-slider .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    height: 28px;
    font-size: 0;
    z-index: 2;
}

.project-img-slider .slick-prev {
    left: 20px;
    background: url(../img/arrow-left.svg) center no-repeat;
    background-size: contain;
}

.project-img-slider .slick-next {
    right: 20px;
    background: url(../img/arrow-right.svg) center no-repeat;
    background-size: contain;
}

.project-img-slider .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.project-img-slider .slick-dots li {
    width: 12px;
    height: 12px;
    margin: 5px;
}

.project-img-slider .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    font-size: 0;
    background: #eeeeee;
    opacity: 0.89;
    transition: all .2s linear;
}

.project-img-slider .slick-dots li.slick-active button {
    background: #00e4a6;
    opacity: 1;
}

.project-img-slide {
    position: relative;
}

.project-img-slide:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.project-img {
    position: relative;
    height: 276px;
}

.project-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1800px) {



    .burger {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../img/menu.svg) center no-repeat;
        background-size: contain;
        position: fixed;
        top: 28px;
        left: 35px;
        z-index: 2;
    }

    .js-black-burger {
        background: url(../img/menu-black.svg) center no-repeat;
        background-size: contain;
    }

    .nav {
        /* display: block; */
        max-width: 300px;
        position: fixed;
        height: 100%;
        transform: none;
        top: auto;
        background: white;
        color: black;

    }

    .nav {
        display: block;
        left: -100%;
        transition: all .3s ease;
    }

    .nav.active {
        left: 0;
        z-index: 100;
    }

    .nav__list {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-right: 60px;
    }

    .share{
        top: 0;
        right: 0;
    }

    .socials--header {
        display: none;
    }

    .socials--header {
        display: block;
    }

    .share__icon {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../img/share.svg) center no-repeat;
        background-size: contain;
        position: absolute;
        top: 28px;
        right: 35px;
    }

    .js-black-soc .share__icon {
        background: url(../img/share-black.svg) center no-repeat;
        background-size: contain;
    }

    .socials--header .socials__ul {
        /* opacity: 0; */
    }

    .socials--header {
        position: absolute;
        /*left: 50%;*/
        right: -12px;
        margin: auto;
        top: 100px;
        background: url(../img/shrbg-black.svg) center no-repeat;
        background-size: contain;
        width: 46px;
        height: 170px;
        padding-top: 20px;
        /*transform: translate(-50%, 0px) rotate(90deg);
        transform-origin: center -32px;*/
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
    }

    .share.active .socials--header {
        /*transform: translate(-50%, 0px) rotate(0deg);*/
        top: 185px;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
        z-index: 1;
    }

    .socials__link {
        margin: auto;
    }

    .socials__link--tw,
    .js-black-soc .socials__link--tw {
        background-image: url(../img/socs/tw2.svg);
    }

    .socials__link--vk,
    .js-black-soc .socials__link--vk {
        background-image: url(../img/socs/vk2.svg);
    }

    .socials__link--in,
    .js-black-soc .socials__link--in {
        background-image: url(../img/socs/in2.svg);
    }

    .socials__link--fb,
    .js-black-soc .socials__link--fb {
        background-image: url(../img/socs/fb2.svg);
    }

    .socials__link--ok,
    .js-black-soc .socials__link--ok {
        background-image: url(../img/socs/ok2.svg);
    }
}


@media(max-width:1300px) {
    .hero__logo.hero__logo--mob {
        display: block;
        position: absolute;
        max-width: 50px;
        width: 100%;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
    }

    .hero__logo {
        display: none;
    }

    .grid-row {
        flex-wrap: wrap;
    }

    .arcticles .grid-row{
        flex-wrap: wrap;
    }

    .acco .grid__item {
        margin-bottom: 20px;
    }

    .acco__item {
        width: 49%;
        /*margin-right: 1%;*/
    }

    .acco__item--700 {
        width: 100%;
    }

    .grid__item.grid__item--700 {
        max-width: 100%;
        margin-right: 0;
    }

    .grid__item {
        max-width: 100%;
        /* min-height: 158px; */
        padding-right: 35px;
    }

    .section-arcticles {
        transform: translate(0, -90px);
    }

    .portf__inner .grid-row {
        margin-bottom: 0;
    }

    .acco .acco__item-body.grid__item {
        position: static;
        visibility: hidden;
        margin-top: 0;
        display: none;
        position: relative;
    }

    .acco .acco__item-body.grid__item.active {
        visibility: visible;
        display: block;
    }

    .portf__inner .acco__item.acco__item--700,
    .grid__item-fake--700,
    .grid__item-fake--988 {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }

    .portf__inner .acco__item {
        max-width: 49%;
        /*margin-right: 2%;*/
        /* width: 50%; */
    }

    .portf__inner .acco__item--988 {
        max-width: 100%;
        /*order: -1;*/
    }

    .portf__inner .acco__item--last {
        order: 1;
    }

    .arcticles .acco__item {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }

    .arcticles .acco .acco__item.active,
    .arcticles .acco .grid__item.active {
        max-width: 100%;
    }

    .hero-bg {
        display: none;
    }

    .hero-bg-css {
        display: block;
    }

    .form-row {}

    .section-arcticles {
        margin-bottom: 0;
    }

    .section-nums {
        margin-bottom: 45px;
    }

    .arcticles .grid__item {
        margin-right: 0;
    }

    .hero__inner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid__item:hover .btn-small::after{
            /* transform: rotate(90deg); */
    }

    .portf__inner .grid__item:hover .btn-small{
        /* background-color: transparent; */
    }

    .arcticles .acco .grid__item.active .article__back{
        opacity: 1;
    }

}


@media(max-width:1000px) {

    .nav {
        max-width: 100%;
    }

    .hero__inner {
        transform: translate(-50%, calc(-14% - (138px / 2)));
    }

    .section-hero {
        height: 75vh;
        background: none;
    }

    .section-hero::before {
        background: url('../img/bg1mob.svg') center top repeat-y;
        background-size: 340px;
        z-index: 0;
    }

    .hero-bg-css {
        display: block;
        background: url('../img/bgmob.jpg') center no-repeat;
        background-size: cover;
    }

    .hero__logo {
        display: none;
    }

    .arcticles .acco .grid__item.active {
        max-width: 100%;
        height: auto;
        /* margin-right: 20px; */
    }

    .arcticles .acco .acco__item.active {
        max-width: 100%;
        /* margin-right: 20px; */
    }

    .grid__item {
        min-height: 158px;
    }

    .portf__inner .grid__item.acco__item-head h2 {
        font-size: 10px;
        line-height: 1.2;
    }

    .portf__inner .grid__item--700.acco__item-head h2,
    .portf__inner .grid__item--988.acco__item-head h2 {
        font-size: 12px;
        line-height: 14px;
    }

    .section-portf {
        margin-bottom: 0;
    }

    .grid__item h2 {
        font-size: 16px;
    }

    .grid__item p {
        padding-left: 0;
        font-weight: 300;
    }

    .arcticles .btn {
        width: 100%;
        max-width: calc(100% - 70px);
    }

    .nums__inner {
        padding: 30px;
    }

    .title-dec {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.22;
    }

    .title-dec::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: -8px;
        left: -8px;
        background: url(../img/dec.svg) center no-repeat;
        background-size: contain;
    }

    .title-dec::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        bottom: -8px;
        right: -8px;
        background: url(../img/dec.svg) center no-repeat;
        background-size: contain;
    }

    .portf__filters {
        margin-top: 0;
    }

    .nums__inner {
        border-radius: 10px;
    }

    .portf__inner .grid__item {
        border-radius: 10px;
    }

    .hero__text {
        max-width: 500px;
    }

    .grid__item:hover .btn-small::after{
            /* transform: rotate(90deg); */
    }

    .acco .grid__item{
        height: auto;
    }

    .arcticles .grid__item {
        height: 158px;
    }

    .acco .acco__item-body.grid__item {
        position: absolute;
    }

    .project-img-slider .slick-prev {
        left: 17px;
    }

    .project-img-slider .slick-next {
        right: 17px;
    }

    .project-img-slider .slick-dots {
        bottom: 20px;
    }

    .project-img-slider .slick-dots li {
        margin: 6px;
    }

    .project-img-slider .slick-dots li button {
        opacity: .5;
    }

    .btn-small {
        right: 15px;
        width: 30px;
        height: 30px;
    }

    .project-img {
        height: 156px;
    }
}


@media(max-width:768px) {

    .filters {
        display: flex;
    }

    .filters__item {
        font-size: 14px;
        display: flex;
        flex-shrink: 0;
    }

    .portf__inner .acco__item {
        max-width: 48%;
        /*margin-right: 4%;*/
    }

    .portf__inner .acco__item--988 {
        max-width: 100%;
    }

    .nums__inner {
        padding: 10px;
        flex-direction: column;
    }

    .num {
        width: 66%;
        min-height: 130px;
        border-right: none;
        border-bottom: solid 2px rgba(255, 255, 255, .8);
    }

    .num:last-child {
        margin-bottom: 0;
    }

    .nums__inner::after {
        display: none;
    }

    .nums__inner::before {
        background: url('../img/bg2mob.svg') center top repeat-y;
    }

    .btn-small {
        width: 30px;
        height: 30px;
        right: 15px;
        font-size: 0 !important;
    }

    .grid__item .btn {
        bottom: 15px;
    }

    .footer-wrap {
        padding-top: 35px;
    }

    .feedback__title {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.22;
        font-weight: 600;
    }

    .form-row {
        flex-direction: column;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .input-wrap {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .feedback__form .btn {
        margin-right: 0;
        order: 1;
        max-width: 100%;
    }

    .input-wrap input,
    .input-wrap textarea {
        padding-left: 25px;
        padding-right: 25px;
    }

    span.error {
        padding-left: 25px;
    }

    .checkbox {
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 28px;
    }

    .section-feedback {
        margin-bottom: 20px;
    }

    .footer___inner {
        flex-direction: column;
    }

    .socials--footer .socials__ul {
        justify-content: flex-end;
        margin-right: 12px;

    }

    .footer__left {
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .footer__logo {
        margin-left: 30px;
    }

    .portf__header {
        display: block;
        margin-bottom: 35px;
    }

    .footer__contacts {
        margin-left: 0;
    }

    .footer {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .portf__filters {
        overflow-x: scroll;
        height: 45px;
    }

    .filters {}

    .hero .btn {
        max-width: 298px;
    }

    .hero__text {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }

    .btn {
        font-size: 14px;
        padding-bottom: 14px;
        padding-top: 12px;
    }

    .footer-wrap::before {
        background: url('../img/bg3mob.svg') center no-repeat;
    }

    .grid__item p {
        font-size: 12px;
        line-height: 14px;
    }

    .acco__item-head.active .article__back p {
        opacity: 1;
        line-height: 15px;
    }

    .checkbox-text {
        font-size: 12px;
        font-weight: 100;
    }

    .title-dec {
        font-weight: 600;
    }
}

@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .nav {
        top: 33%;
        transform: none;
    }

    .share {
        top: 40%;
        transform: none;
    }

    .hero__inner {
        top: 24%;
        left: 24%;
        transform: none;
    }

    .socials__link--tw {
        background-image: url(../img/socs/tw2.svg);
        background-image: url(../img/socs/tw.svg);
    }

    .socials__link--vk {
        background-image: url('../img/socs/vk2.svg');
        background-image: url('../img/socs/vk.svg');
    }

    .socials__link--in {
        background-image: url('../img/socs/in2.svg');
        background-image: url('../img/socs/in.svg');
    }

    .socials__link--fb {
        background-image: url('../img/socs/fb2.svg');
        background-image: url('../img/socs/fb.svg');
    }

    .socials__link--ok {
        background-image: url('../img/socs/ok2.svg');
        background-image: url('../img/socs/ok.svg');
    }
}

@media (max-width: 1800px) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .nav {
        top: 0;
        left: -100%;
    }
    .share {
        top: 0;
    }

    .share.active .socials--header {
        top: 40px;
    }
}